--- name:content
{menu: {template: <%= context.ref_node.alcn %>, options: {and: posts, limit: 5, sort: created_at, reverse: true}}}

--- name:tag.menu
<%
template = context.ref_node.resolve('post.template')
context[:nocontent] = true
context[:nodes].each do |node| %>
<%= context.render_block(name: "content", chain: [template, node]) %>
<% end %>
