<!DOCTYPE HTML>
<html>
  <head>
    <title>{title:} - gettalong's web home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{relocatable: assets/js/ie/html5shiv.js}"></script><![endif]-->
    <link rel="stylesheet" href="{relocatable: assets/sass/main.css}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{relocatable: assets/sass/ie9.css}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{relocatable: assets/sass/ie8.css}" /><![endif]-->
  </head>
  <body>

    <div id="wrapper">

      <!-- Header -->
      <header id="header">
        <h1>{link: {path: /, attr: {link_text: gettalong's web home}}}</h1>
        <nav class="links">
          {menu: {options: {mi: {in_menu: true}, sort: true, absolute_levels: 1}}}
        </nav>
        <ul class="icons">
          <li><a href="https://github.com/gettalong" class="fa-github"><span class="label">@gettalong on Github</span></a></li>
          <li><a href="https://twitter.com/_gettalong" class="fa-twitter"><span class="label">@_gettalong on Twitter</span></a></li>
          <li><a href="mailto:t_leitner@gmx.at" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <nav class="main">
          <ul>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

      <section id="menu">
        <section>
          {menu: {css_class: links, options: {mi: {in_menu: true}, sort: true, absolute_levels: 1}}}
        </section>
      </section>

      <!-- Main -->
      <div id="main">

        <webgen:block name="content" />

      </div>

      <!-- Sidebar -->
      <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
          <header>
            <h2>Life Happens, Programs Don't</h2>
            <p>Musings About Programming and Software Engineering</p>
          </header>
        </section>

        <!-- About -->
        <section class="blurb">
          <h2>About</h2>
          <p>This is Thomas Leitner's website and blog about Ruby, programming, software engineering and the joy of solving problems.</p>
          <ul class="actions">
            <li><a href="{relocatable: about.html}" class="button">Learn More</a></li>
          </ul>
        </section>

        <!-- Footer -->
        <section id="footer">
          <p class="copyright">&copy; Thomas Leitner. Generated by <a href="http://webgen.gettalong.org">webgen</a>. Design based on Future Imperfect by <a href="http://html5up.net">HTML5 UP</a></p>
        </section>

      </section>

    </div>

    <!-- Scripts -->
    <script src="{relocatable: assets/js/jquery.min.js}"></script>
    <script src="{relocatable: assets/js/skel.min.js}"></script>
    <script src="{relocatable: assets/js/util.js}"></script>
    <!--[if lte IE 8]><script src="{relocatable: assets/js/ie/respond.min.js}"></script><![endif]-->
    <script src="{relocatable: assets/js/main.js}"></script>

		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=11093532; 
		var sc_invisible=1; 
		var sc_security="4e165fe5"; 
		var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");
		</script>
		<noscript>
			<div class="statcounter">
				<a title="shopify visitor statistics" href="http://statcounter.com/shopify/" target="_blank"><img class="statcounter" src="//c.statcounter.com/11093532/0/4e165fe5/1/" alt="shopify visitor statistics"></a>
      </div>
    </noscript>
		<!-- End of StatCounter Code for Default Guide -->
	</body>
</html>
